spring:
  application:
    name: whereabouts-api
  jpa:
    show-sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true

  datasource:
    url: 'jdbc:h2:mem:whereabouts-api-db;MODE=PostgreSQL'
    continue-on-error: true

    hikari:
      pool-name: OffenderActivity-CP
      connectionTimeout: 1000
      validationTimeout:  500

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  h2:
    console:
      enabled: true

  security:
    oauth2:
      client:
        registration:
          elite2-api:
            provider: hmpps-auth
            client-id: ${oauth.client.id}
            client-secret: ${oauth.client.secret}
            authorization-grant-type: client_credentials
            scope: write
        provider:
          hmpps-auth:
            token-uri: ${oauth.endpoint.url}/oauth/token

  codec:
    max-in-memory-size: 10MB

server:
  port: 8082
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
  shutdown: graceful

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health, ping'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
    info:
      cache:
        time-to-live: 2000ms
  health.:
    probes:
      enabled: true

sqs:
  provider: aws
  endpoint.region: eu-west-2
